<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel=stylesheet type="text/css" href="css/form.css" />
	<link rel=stylesheet type="text/css" href="css/list.css" />
	<link rel=stylesheet type="text/css" href="css/header.css" />
	<link rel=stylesheet type="text/css" href="css/layout_simple.css" />
	<title>Bot Manager</title>
	<script src="js/lib.js"></script>
	<script src="js/login.js"></script>
</head>
<body>

<div id="content">

Bot Manager

<ul class="tab">
 <li class="sel"><a href="index.html">Log</a></li>
 <li><a href="channels.html">Channels</a></li>
 <li><a href="irc_servers.html">IRC Servers</a></li>
</ul>

<ul id="logs" class="simple">
 <li>aaa</li>
 <li>bbb</li>
 <li>ddd</li>
 <li>eee</li>
 <li>fff</li>
</ul>


</div>

</body>
</html>


