
header {
	background-color: #0099ff;
	color: #000000;
}


.running{
	color: green;
}

.stopped{
	color: red;
}

#error {
	background-color: #ffdddd;
	color:red;
	display: none;
	text-align: center;
	padding: 4pt 0;
}

#succeeded {
	background-color: #ddffdd;
	display: none;
	text-align: center;
	padding: 4pt 0;
}


.dialog {
	display: none;
	position: absolute;
	border-radius: 3px;
	border: 2px solid #bbbbbb;
	background-color: #ffffff;
	width: 250pt;
	margin: 0 auto;
	padding: 6pt 20pt;
}

.footer {
	text-align: right;
}

