

header {
	background-color: #cccccc;
}


.running{
	color: green;
}

.stopped{
	color: red;
}


#error {
	color:red;
	display: none;
}


.dialog {
	display: none;
	position: absolute;
	border-radius: 3px;
	border: 2px solid #bbbbbb;
	background-color: #ffffff;
	width: 250pt;
	margin: 0 auto;
	padding: 6pt 20pt;
}

.footer {
	text-align: right;
}

