
.running{
	color: green;
}

.stopped{
	color: red;
}


#error {
	color:red;
}


.dialog {
	display: none;
	position: absolute;
	border-radius: 3px;
	border: 2px solid #bbbbbb;
	background-color: #ffffff;
	width: 300pt;
margin: 0 auto;
}

